html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	max-width: 1140px;
	font-family: 'Work Sans' ;
	font-size: 14px;
    background-color: rgba(255, 248, 220, 0.26);
	margin: auto;
	
}

.conteneur {
	position: relative;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a {
    color: inherit;
    text-decoration: none;
	font-weight: 600;

}

nav li:hover {
	color: #B1663C;
}


.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 150px;
}

.registration input {
    width: 380px;
    height: 35px;
    border: none;
    box-shadow: 0px 4px 14px rgba(2, 2, 2, 0.116);
    margin-top: 5px;
}
.registration button {
    background-color: #1D6154;
    color: white;
    border: none;
    width: 180px;
    padding: 8px;
    border-radius: 60px;
}

.registration span {
	text-decoration: underline;
}

.registration .column {
	position: absolute;
}

.identifier {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.column {
	display:none;	
	top: 350px;
}

.error {
	display: flex;
	align-items: center;
	justify-content: center;	
	height: 80px;
	width: 300px;
	background-color:salmon;
	border-radius: 15px 15px 0px 0px;	
}

.circle {
	display: flex;
	top:20px;
	left:120px;
	width: 30px;
	height: 30px;		
	border: 3px solid white;
	border-radius: 50%;
	transform: rotate(45deg);
	
}

.cross {
	position: relative;
	top: 13px;
	left: 2px;
	background-color:white;
	height: 4px;
	min-width: 26px;
	transform: rotate(90deg);
	color: white;
	border-radius: 10px ;
}

.crossH {
	position: relative;
	top: 13px;
	right: 24px;
	background-color:white;
	height: 4px;
	min-width: 26px;
	
	color: white;
	border-radius: 10px ;
}

.errortext {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center ;
	background-color: white;
	max-width: 300px;
	gap: 10px;
}

.errortext h3 {
	color: darksalmon;
	font-weight: 500;
	line-height: 20px;
}

.buttonclose {
	margin: 10px;
}

.none {
	display: none;
}
.block {
	display: block;
}

footer {
	position: absolute ;
	bottom: 0;	
	width: 100%;
	margin-top: auto;
    background-color: white;
    height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

footer h4 {
	padding-right: 100px;
}
